asgiref==3.11.1
async-timeout==5.0.1
diff-match-patch==20241021
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.5
django-import-export==4.4.0
django-redis==5.4.0
django-tinymce==5.0.0
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==26.0
Pillow==10.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pytz==2026.1.post1
redis==5.0.1
sqlparse==0.5.5
tablib==3.9.0
